.cabecalho{
  padding-top: 30px!important;
}
.modal-dialog {
  width: 100%!important;
  height: 100%!important;
  margin: 0!important;
  padding: 0!important;
}

.modal-content {
  height: auto!important;
  min-height: 100%!important;
  border-radius: 0!important;
}
